@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --dark-colour: rgba(46, 51, 58, 1);
  --light-primary: rgba(255, 249, 244, 1);
  --secondary-colour: rgba(254, 219, 190, 1);
  --primary-colour: rgba(244, 131, 31, 1);
  --light-grey: rgba(219, 219, 219, 1);
  --grey-text: rgba(164, 164, 164, 1);
  --dark-grey-text: rgba(129, 127, 119, 1);
  --primary-blue: rgba(27, 111, 229, 1);
  --secondary-blue: rgba(14, 210, 246, 1);
  --dark-blue: rgba(12, 39, 86, 1);
  --light-blue: rgba(201, 235, 255, 1);
  --blue-grey-light: rgba(231, 236, 239, 1);
  --blue-grey: rgba(178, 194, 203, 1);
  --blue-grey-dark: rgba(102, 133, 153, 1);
  --secondary-blue-light-1: rgba(114, 228, 249, 1);
  --secondary-blue-light-2: rgba(184, 241, 252, 1);
  --white-colour: rgba(255, 255, 255, 1);
  --low-red-dark: rgba(218, 57, 34, 1);
  --low-red: rgba(233, 61, 37, 1);
  --newm-t-hover-stroke: rgba(60, 65, 71, 1);
  --roboto-semi-bold-23-font-family: "Roboto-SemiBold", Helvetica;
  --roboto-semi-bold-23-font-weight: 600;
  --roboto-semi-bold-23-font-size: 23px;
  --roboto-semi-bold-23-letter-spacing: 0px;
  --roboto-semi-bold-23-line-height: 129.99999523162842%;
  --roboto-semi-bold-23-font-style: normal;
  --roboto-medium-23-font-family: "Roboto-Medium", Helvetica;
  --roboto-medium-23-font-weight: 500;
  --roboto-medium-23-font-size: 23px;
  --roboto-medium-23-letter-spacing: 0px;
  --roboto-medium-23-line-height: 129.99999523162842%;
  --roboto-medium-23-font-style: normal;
  --roboto-medium-18-font-family: "Roboto-Medium", Helvetica;
  --roboto-medium-18-font-weight: 500;
  --roboto-medium-18-font-size: 18px;
  --roboto-medium-18-letter-spacing: 0px;
  --roboto-medium-18-line-height: 129.99999523162842%;
  --roboto-medium-18-font-style: normal;
  --poppins-semi-bold-35-font-family: "Poppins-SemiBold", Helvetica;
  --poppins-semi-bold-35-font-weight: 600;
  --poppins-semi-bold-35-font-size: 35px;
  --poppins-semi-bold-35-letter-spacing: 0px;
  --poppins-semi-bold-35-line-height: 129.99999523162842%;
  --poppins-semi-bold-35-font-style: normal;
  --poppins-semi-bold-23-font-family: "Poppins-SemiBold", Helvetica;
  --poppins-semi-bold-23-font-weight: 600;
  --poppins-semi-bold-23-font-size: 23px;
  --poppins-semi-bold-23-letter-spacing: 0px;
  --poppins-semi-bold-23-line-height: 129.99999523162842%;
  --poppins-semi-bold-23-font-style: normal;
  --roboto-12-regular-font-family: "Roboto-Regular", Helvetica;
  --roboto-12-regular-font-weight: 400;
  --roboto-12-regular-font-size: 12px;
  --roboto-12-regular-letter-spacing: 0px;
  --roboto-12-regular-line-height: 129.99999523162842%;
  --roboto-12-regular-font-style: normal;
  --roboto-14-regular-font-family: "Roboto-Regular", Helvetica;
  --roboto-14-regular-font-weight: 400;
  --roboto-14-regular-font-size: 14px;
  --roboto-14-regular-letter-spacing: 0px;
  --roboto-14-regular-line-height: 129.99999523162842%;
  --roboto-14-regular-font-style: normal;
  --roboto-18-regular-font-family: "Roboto-Regular", Helvetica;
  --roboto-18-regular-font-weight: 400;
  --roboto-18-regular-font-size: 18px;
  --roboto-18-regular-letter-spacing: 0px;
  --roboto-18-regular-line-height: 129.99999523162842%;
  --roboto-18-regular-font-style: normal;
  --roboto-23-regular-font-family: "Roboto-Regular", Helvetica;
  --roboto-23-regular-font-weight: 400;
  --roboto-23-regular-font-size: 23px;
  --roboto-23-regular-letter-spacing: 0px;
  --roboto-23-regular-line-height: 129.99999523162842%;
  --roboto-23-regular-font-style: normal;
  --roboto-28-regular-font-family: "Roboto-Regular", Helvetica;
  --roboto-28-regular-font-weight: 400;
  --roboto-28-regular-font-size: 28px;
  --roboto-28-regular-letter-spacing: 0px;
  --roboto-28-regular-line-height: 129.99999523162842%;
  --roboto-28-regular-font-style: normal;
  --roboto-35-medium-font-family: "Roboto-Medium", Helvetica;
  --roboto-35-medium-font-weight: 500;
  --roboto-35-medium-font-size: 35px;
  --roboto-35-medium-letter-spacing: 0px;
  --roboto-35-medium-line-height: 129.99999523162842%;
  --roboto-35-medium-font-style: normal;
  --roboto-44-regular-font-family: "Roboto-Regular", Helvetica;
  --roboto-44-regular-font-weight: 400;
  --roboto-44-regular-font-size: 44px;
  --roboto-44-regular-letter-spacing: 0px;
  --roboto-44-regular-line-height: 129.99999523162842%;
  --roboto-44-regular-font-style: normal;
  --roboto-55-regular-font-family: "Roboto-Regular", Helvetica;
  --roboto-55-regular-font-weight: 400;
  --roboto-55-regular-font-size: 55px;
  --roboto-55-regular-letter-spacing: 0px;
  --roboto-55-regular-line-height: 129.99999523162842%;
  --roboto-55-regular-font-style: normal;
  --roboto-69-regular-font-family: "Roboto-Regular", Helvetica;
  --roboto-69-regular-font-weight: 400;
  --roboto-69-regular-font-size: 69px;
  --roboto-69-regular-letter-spacing: 0px;
  --roboto-69-regular-line-height: 129.99999523162842%;
  --roboto-69-regular-font-style: normal;
  --poppins-12-medium-font-family: "Poppins-Medium", Helvetica;
  --poppins-12-medium-font-weight: 500;
  --poppins-12-medium-font-size: 12px;
  --poppins-12-medium-letter-spacing: 0px;
  --poppins-12-medium-line-height: 129.99999523162842%;
  --poppins-12-medium-font-style: normal;
  --poppins-14-medium-font-family: "Poppins-Medium", Helvetica;
  --poppins-14-medium-font-weight: 500;
  --poppins-14-medium-font-size: 14px;
  --poppins-14-medium-letter-spacing: 0px;
  --poppins-14-medium-line-height: 129.99999523162842%;
  --poppins-14-medium-font-style: normal;
  --poppins-18-medium-font-family: "Poppins-Medium", Helvetica;
  --poppins-18-medium-font-weight: 500;
  --poppins-18-medium-font-size: 18px;
  --poppins-18-medium-letter-spacing: 0px;
  --poppins-18-medium-line-height: 129.99999523162842%;
  --poppins-18-medium-font-style: normal;
  --poppins-23-medium-font-family: "Poppins-Medium", Helvetica;
  --poppins-23-medium-font-weight: 500;
  --poppins-23-medium-font-size: 23px;
  --poppins-23-medium-letter-spacing: 0px;
  --poppins-23-medium-line-height: 129.99999523162842%;
  --poppins-23-medium-font-style: normal;
  --poppins-28-medium-font-family: "Poppins-Medium", Helvetica;
  --poppins-28-medium-font-weight: 500;
  --poppins-28-medium-font-size: 28px;
  --poppins-28-medium-letter-spacing: 0px;
  --poppins-28-medium-line-height: 129.99999523162842%;
  --poppins-28-medium-font-style: normal;
  --poppins-35-medium-font-family: "Poppins-Medium", Helvetica;
  --poppins-35-medium-font-weight: 500;
  --poppins-35-medium-font-size: 35px;
  --poppins-35-medium-letter-spacing: 0px;
  --poppins-35-medium-line-height: 129.99999523162842%;
  --poppins-35-medium-font-style: normal;
  --poppins-44-medium-font-family: "Poppins-Medium", Helvetica;
  --poppins-44-medium-font-weight: 500;
  --poppins-44-medium-font-size: 44px;
  --poppins-44-medium-letter-spacing: 0px;
  --poppins-44-medium-line-height: 129.99999523162842%;
  --poppins-44-medium-font-style: normal;
  --poppins-55-medium-font-family: "Poppins-Medium", Helvetica;
  --poppins-55-medium-font-weight: 500;
  --poppins-55-medium-font-size: 55px;
  --poppins-55-medium-letter-spacing: 0px;
  --poppins-55-medium-line-height: 129.99999523162842%;
  --poppins-55-medium-font-style: normal;
  --poppins-69-medium-font-family: "Poppins-Medium", Helvetica;
  --poppins-69-medium-font-weight: 500;
  --poppins-69-medium-font-size: 69px;
  --poppins-69-medium-letter-spacing: 0px;
  --poppins-69-medium-line-height: 129.99999523162842%;
  --poppins-69-medium-font-style: normal;
  --shadow-t-blue: 0px 6px 12px 0px rgba(27, 111, 229, 0.16);
  --shadow-t-components: 0px 24px 48px -8px rgba(39, 76, 119, 0.16);
  --newm-t-charts: ;
  --newm-t-charts-lines: 1.4312949180603027px 1.4312949180603027px
    2.8625898361206055px 0px rgba(136, 160, 183, 0.35);
  --newm-t-components: -7px -7px 30px 0px rgba(38, 46, 50, 1),
    14px 14px 40px 0px rgba(16, 16, 18, 0.75);
  --newm-t-nav: 6.223021507263184px 6.223021507263184px 18.669065475463867px 0px
      rgba(0, 0, 0, 1),
    -6.223021507263184px -6.223021507263184px 18.669065475463867px 0px
      rgba(59, 68, 81, 1);
  --newm-t-btn-inner: 3.73381px 3.73381px 6.22302px 0px #000 inset,
    -6.22302px -6.22302px 6.22302px 0px #3b4451 inset;
  --glass-t-components: 30px 70px 120px 0px rgba(27, 49, 66, 0.13);
  --new-t-btn-blue-inner: ;
  --newm-t-btn-blue: 6.223021507263184px 6.223021507263184px
      18.669065475463867px 0px rgba(5, 19, 44, 1),
    -6.223021507263184px -6.223021507263184px 18.669065475463867px 0px
      rgba(21, 53, 101, 1);
  --newm-t-hover: 3px 3px 6px 0px rgba(0, 0, 0, 0.35);
}
